<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style/accueil.css') }}">
</head>
{% extends "layout/base.html" %}


<body>
{% block content %}


<section class="hero-section">
  <div class="card-grid">
    {% for img in images %}
    <a class="card" href="{{ url_for('detail', id=img._id) }}">
      <div class="card__background" style="background-image: url(/image/{{img.image_passionfroid_name}})"></div>
      <div class="card__content">
        <p class="card__category">{{img.categorie}}</p>
        <p class="card__category">{{img.tag}}</p>
        <h3 class="card__heading">{{img.image_passionfroid_name}}</h3>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

<!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modifier la photo</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form action="{{ url_for('update', id=img._id) }}" method="POST" role="form" style="padding-top: 100px">
              <div class="form-group">
                  <label class="form-text">Nom du Champion :</label>
                  <input class="form-control" name="nom" type="file" value="{{ img.image_passionfroid_name }}" aria-label="nom" aria-describedby="add-btn"/>
              </div>
              <div class="form-group">
                  <label class="form-text">Surnom du Champion :</label>
                  <input class="form-control" name="Categorie" type="text" value="{{ img.categorie }}" aria-label="Categorie" aria-describedby="add-btn"/>
              </div>

                 <button class="btn btn-primary" type="submit" id="add-btn">Modifier</button>
             </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{% endblock content %}
</html>