<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style/accueil.css') }}">
</head>
{% extends "layout/base.html" %}


<body>
{% block content %}


<section class="hero-section">
  <div class="card-grid">
    {% for img in images %}
    <a class="card" href="{{ url_for('detail', id=img._id) }}">
      <div class="card__background" style="background-image: url(/image/{{img.image_passionfroid_name}})"></div>
      <div class="card__content">
        <p class="card__category">{{img.categorie}}</p>
        <p class="card__category">{{img.tag}}</p>
        <h3 class="card__heading">{{img.image_passionfroid_name}}</h3>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{% endblock content %}
</html>